*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.header-container {
    position: relative;

    .img-responsive-header {
        z-index: 1;
        background-size: cover;
        position: relative;
    }

    &.triangle-right {
        display : inline-block;
        height : 0;
        width : 0;
        border-right : 450px solid transparent;
        border-bottom : 200px solid black;
    }

    &.background-image {
        background-image: url(../img/background_image_header.png);
        width: 100%;
        height: 1000px;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .global-header-top {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        width: 100%;
    }

    .social-network {
        z-index: 2;
        margin-left: 35px;
    }

    .header-left {
        z-index: 2;
        filter: brightness(0) invert(1); 
    }

    .header-right {
        z-index: 2;
        filter: brightness(0) invert(1);
    }

    .redirect-account {
        font-size: 20px;
        font-family: 'arial', 'sans-serif';
        text-decoration: none;
    }

    .user-icon {
        width: 10%;
        height: 10%;
    }

    .header-text-center {
        display: flex;
        padding-top: 10%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
        font-family: 'arial', 'sans-serif';
    }

    .header-title-center {
        font-size: 40px;
    }

    .header-subtitle-center {
        font-weight: 300;
        font-size: 28px;
        margin: 10px;
    }

    .header-button-start {
        padding: 15px 35px 15px 35px;
        background-color: #fff;
        color: #ff0000;
        font-size: 16px;
        margin: 50px;
    }

    .btn-a-login-header {
        color: #fff
    }
    
    .grey-triangle {
        width: 450px;
        height: 190px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
}